<div class="example-container">
    <mat-form-field>
            <input type="email" matInput placeholder="Email" [(ngModel)]="vehiculo.email" name="email">
    </mat-form-field>
    <mat-form-field>
            <input type="password" matInput placeholder="Clave" [(ngModel)]="vehiculo.clave" name="clave">
    </mat-form-field>
    <mat-form-field>
        <input type="text" matInput placeholder="Razon Social" [(ngModel)]="vehiculo.razonSocial" name="razonSocial">
</mat-form-field>
<mat-form-field>
        <input type="text" matInput placeholder="Telefono" [(ngModel)]="vehiculo.tel" name="tel">
</mat-form-field>
<mat-form-field>
        <input type="text" matInput placeholder="Localidad" [(ngModel)]="vehiculo.localidad" name="localidad">
</mat-form-field>

    <button mat-raised-button color="primary" (click)="Register()">Registrar</button>
</div>
