
form {
    border: 10px solid #f1f1f1;
    padding: 10px;
    background:gray;
}


.imgcontainer {
    text-align: center;
    /* margin: 24px 0 12px 0; */
}

img.avatar {
    width: 25%;
    /* border-radius: 10%; */
}

.container {
    padding: 5% 10% 5% 10%;
}

span.psw {
    float: right;
    padding-top: 16px;
}
.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }

  .btnFooter{margin: 5px;}
